/* Google fonts import */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');


/* CSS variables */

:root {
    --primary-font: "Lora", serif;
    --secondary-font: "Dancing Script", cursive;
    --primary-color: #fff; 
    --secondary-color: #E1BBA6; 
    --highlight-color: #205B4F; 
    --highlight-color-light: #53A292; 
}

body {
    font-family: var(--primary-font);
    background-color: var(--secondary-color);
    /* padding-top: 57.15px;  */
} 

h1,
h2,
h3 {
    font-family: var(--primary-font);
    color: var(--primary-color);
}

h1,
h2 {
    text-transform: uppercase;
}

h2 {
    margin-bottom: 2rem;
}

.par-heading-color {
    color: var(--highlight-color);
}

.section {
    padding-top: 4rem;
}

/* Buttons */

.custom-button-filled {
    border: 2px solid var(--highlight-color);
    background-color: var(--highlight-color);
    color: white;
}

.custom-button-filled:hover {
    border: 2px solid var(--secondary-color);
    background-color: var(--secondary-color);
    color: white;
}

.custom-button-outline {
    border: 3px solid var(--highlight-color);
    padding: 7px 25px;
    color: var(--highlight-color)
}

.custom-button-outline:hover {
    background-color: var(--highlight-color);
    color: white
}

/* Navbar */

#navbar {
    background-color: #cba590;
}

#navbar .logo {
    width: 50px;
}

.nav-item {
    font-size: large;
}

/* Header */

#header .head {
    font-family: var(--secondary-font);
}