/* Google fonts import */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');


/* CSS variables */

:root {
    --primary-font: "Lora", serif;
    --secondary-font: "Dancing Script", cursive;
    --primary-color: #cba590; 
    --secondary-color: #E1BBA6; 
    --highlight-color: #205B4F; 
    --highlight-color-light: #53A292; 
}

body {
    font-family: var(--primary-font);
    /* padding-top: 57.15px;  /*pushes the top of the header down under the fixed navbar*/
} 


/* Navbar */

#navbar {
    background-color: #cba590;
}